html, body {
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.nav-item {
    margin-left: .5em;
}

.navbar-brand {
    margin-left: 1%
}

.homepage_part {
    width: 100%;
    height: 100%;
}

.content {
    margin: 2em 10%;
    padding: 0 1%;
    height: 100%;
    max-height: max-content;
}

.main {
    width: 100%;
    height: 100%;
    padding-top: 2%;
}

.profile_tbody td {
    padding: .3rem 1%;
}


/* Restaurant */

.rest_type {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    height: 22rem;
}

.rest_type .card {
    display: inline-block;
    margin-right: 2%;
}


.back_img {
    height: 35em;
    width: 100%;
    color: black;
}


.foods_info {
    height: 100%;
    width: 100%;
    padding-top: 5%;
}


.food_types, .foods, .base_info {
    display: inline-block;
    float: left;
}

.food_types {
    height: 100em;
    width: 25%;
}

.food_types > .scroll_links {
    position: sticky;
    top: 10%;
    padding: 5%;
    text-align: center;
}

.foods {
    padding: 0.5% 2%;
    width: 50%;
}

.particular_food {
    width: 100%;
}


.particular_food .food_inner_info {
    width: 60%;
    float: left;
    padding: 2%;
}

.food_inner_info p {
    margin-bottom: 0;
    margin-top: 2%;
    font-size: 14px;
}

.particular_food .food_img {
    width: 40%;
    height: 7.5em;
    float: left;
}


.food_img img {
    width: 100%;
    height: 100%;
}

.base_info {
    width: 25%;
    height: 50em;
    /*background-color: darkgray;*/
    padding: 2% 3%;
}

.base_info p {
    font-size: 14px;
    margin: 0;
    font-weight: 300;
}

.base_info h5 {
    font-weight: 600;
}